<div class="row">
    <div class="lg-2">
    <img src="../../../assets/Foto perfil.png" class="img-fluid" id="fotodeperfil">
       <!-- <button type="button" class="btn btn-outline-light" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar persona
        </button> -->
    </div>
   
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h1>Acerca de mí</h1>
            <!-- <p>{{persona.descripcion}}</p> -->
            <p>Estudiante de Argentina Programa #Yo Programo 3ra edición. Timmer Oficial y desarrollador en Esfuerzo Deportivo</p>
        </span>
    </div>
</div>