<div class="row">
    <h1 class="edu">Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">

      <ul>
        <li><h1>Secretaria asuntos estudiantiles UTN - FRSR</h1><h3>(8 Años)</h3></li>
        <p>Gestion y organización de eventos</p>
      </ul>

      <ul>
        <li><h1>Timmer en Esfuerzo Deportivo</h1><h3>(7 Años)</h3></li>
        <p>Toma de tiempos y clasificaciones de maratones con sistemas digitales</p>
      </ul>

      <ul>
        <li><h1>Administrativo Optica Gallo</h1><h3>(6 Años)</h3></li>
        <p>Administracion, gestion y control de stock</p>
      </ul>
    </div>
</div>