.row{
    padding: 20px;  
}

div{
    background-color: black;
    text-align: center;
    color: white;
}


/*foto perfil*/
@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        left: 3%;
        top: 200px;
    }
}

@media (max-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 40%;
        border-radius: 100%;
        left: 30%;
        top: 100px;
    }
}


/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 80px;  
}