.container{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.logos-redes{
    margin-right: 0.5em;
}

.img{
    width: 150px;
}

.img1{
    width: 30px;
    margin-right: 0.5em;
}

