.row{
    padding: 20px;
    text-align: left;
    background-color: black;
    color: white;
    
}

div{
    background-color: black;
        color: white;
}

.titulo{
    box-shadow: 1px 1px 2px 3px white;
    text-align: left;
    background-color: black;
    color:white;
    padding: 20px;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    border-radius: 20px;
    text-shadow: 0 2px 4px white, 0px -2px 1px white;
}

.table{
    color: white;
}
