<div class="row">
    <h1 class="titulo">Hard & Soft Skills</h1>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            subtitle="HTML"
            subtitleColor="orange"
            [percent]="60"
            [radius]="100"
            subtitleFontSize="2em"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'orange'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            subtitle="CSS"
            subtitleColor="#0051FF"
            [percent]="70"
            [radius]="100"
            subtitleFontSize="2em"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#0051FF'"
            [innerStrokeColor]="'#A8C3FC'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            subtitle="JS"
            subtitleColor="yellow"
            [percent]="50"
            [radius]="100"
            subtitleFontSize="2em"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'#F1F65D'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            subtitle="GITHUB"
            subtitleColor="white"
            [percent]="85"
            [radius]="100"
            subtitleFontSize="2em"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'#F5E9F5'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            subtitle="EXCEL"
            subtitleColor="#78C000"
            [percent]="95"
            [radius]="100"
            subtitleFontSize="2em"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm4 col-md-4 col-lg-4">
        <circle-progress
            subtitle="ENGLISH"
            subtitleColor="red"
            [percent]="70"
            [radius]="100"
            subtitleFontSize="2em"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'#FE8A8A'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>